<div class="container">
  <!-- header -->
  <header class="panel panel-fixed">
    <div class="header-left">
      <img src="../assets/images/news_logo.png" alt="" class="news-logo">
    </div>
    <div class="header-right">
      User Kate
    </div>
  </header>

  <div class="panel source-name panel-fixed">
    <h2>{{title}}</h2>
  </div>

  <router-outlet></router-outlet>

  <!-- footer -->
  <footer class="panel footer">
    <div class="footer-right">
      <h5>Powered by NewsAPI, 2019</h5>
    </div>
  </footer>
</div>
