.container {
  display: block;
  margin: 0 auto;
  width: 1100px;
  overflow: hidden;
  font-family: Arial;
}

.header-left {
  float: left;
}

.news-logo {
  height: 50px;
}

.header-right {
  margin-top: 15px;
  float: right;
}

.source-name {
  text-align: center;
  border: 1px solid black;
  font-size: 24px;
}

.footer-right {
  float: right;
  color: white;
  margin-right: 100px;
}

.footer {
  padding: 5px;
}
