<div class="container">
  <!-- header -->
  <header class="panel">
    <div class="header-left">
      <img src="../assets/images/news_logo.png" alt="" class="news-logo">
    </div>
    <div class="header-right">
      User Kate
    </div>
  </header>

  <div class="panel source-name">
    <h2>{{title}}</h2>
  </div>

  <div class="main-container">
    <app-news-list></app-news-list>
  </div>

  <!-- footer -->
  <footer class="panel">
    <div class="footer-right">
      <h5>Powered by NewsAPI, 2019</h5>
    </div>
  </footer>
</div>
