.news-view {
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  overflow: hidden;
}

.news-view--block {
  overflow: hidden;
  border: 1px solid blue;
}

.news-view--image-container {
  width: 25%;
  float: left;
  /* 900-200=700 */
}

.news-view--block-middle {
  width: 60%;
  float: left;
}

.news-view--block-right {
  width: 12%;
  float: right;
}

.news-view-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  word-wrap: break-word;
}
.news-view--image {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.news-view-info {
  /* float: left; */
  /* max-width: 75%; */
  /* overflow: hidden;
  word-wrap: break-word; */
}

.news-view-date {
  float: right;
}

.news-view--button {
  display: block;
}
